* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

body {
    background: #384448;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 10rem);
    height: 5rem;
    background: #232A2D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 2rem;
}

.login {
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

.login:hover {
    text-decoration: underline;
}

.logo {
    max-height: 3rem;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: row;
    min-height: 20rem;
    height: 25rem;
    max-height: 80%;
    width: 35rem;
    border: black 0.1rem solid;
    border-radius: 2rem;
    background: #D9D9D9;
    padding: 1rem;
    justify-content: space-around;
}

.login_form {
    display: flex;
    flex-direction: column;
}

.login_form h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.login_form label {
    margin: 0.2rem;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: black 0.1rem solid;
}

.register_form {
    display: flex;
    flex-direction: column;
}

.register_form h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.register_form label {
    margin: 0.2rem;
}

button {
    border-radius: 0.3rem;
    background: #232A2D;
    border: #000000 0.1rem solid;
    color: white;
    padding: 0.5rem;
}

.hor_line {
    position: absolute;
    min-width: 0.125rem;
    min-height: 22rem;
    height: 27rem;
    max-height: 80%;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hor_line_p {
    position: absolute;
    background: #D9D9D9;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-justify: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}