<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
<div>
    <div class="nav">
        <div>
            <img class="logo" src="{{ url_for('static', filename='assets/logo.png') }}">
        </div>
        <form class="login__form">
            <button class="login" type="submit">Login</button>
        </form>
    </div>
    <div class="content">
        <form class="login_form" action="/login" method="POST">
            <h1>Login</h1>
            <label for="username">Benutzername</label>
            <input id="username" name="username" type="text" required />
            <label for="password" >Passwort</label>
            <input id="password" name="password" type="password" required />
            <button type="submit">Login</button>
        </form>
        <section class="hor_line">
            <p class="hor_line_p">OR</p>
        </section>
        <form class="register_form" action="/register" method="POST">
            <h1>Registrieren</h1>
            <label for="username">Benutzername</label>
            <input id="username" name="username" type="text" required />
            <label for="email">EMail (Optional)</label>
            <input id="email" name="email" type="email"/>
            <label for="password">Passwort</label>
            <input id="password" name="password" type="password" required />
            <button type="submit">Registrieren</button>
        </form>
    </div>
</div>
</body>
</html>