<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/register" method="POST">
        <div>
            <h1>Registrieren</h1>
        </div>
        <div>
            <label for="username">Benutzername</label>
            <input id="username" name="username" type="text" />
        </div>
        <div>
            <label for="email">EMail</label>
            <input id="email" name="email" type="email" />
        </div>
        <div>
            <label for="password">Passwort</label>
            <input id="password" name="password" type="password" />
        </div>
        <div>
            <button type="submit">Registrieren</button>
        </div>
    </form>
</body>
</html>