<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='todo.css') }}">
</head>
<body>
<div class="todo__app">
    <div class="header">
        <form action="/add" method="POST">
            <div class="input">
                <div>
                    <label for="value">Titel:</label>
                    <input type="text" id="value" name="value" placeholder="">

                </div>
                <div>
                    <label for="desc">Beschreibung:</label>
                    <input type="text" id="desc" name="description" placeholder="">
                </div>
                <div>
                    <label for="deadline">Deadline:</label>
                    <input type="date" id="deadline" name="deadline" placeholder="">
                </div>
                <div>
                    <label for="priority">Priorität:</label>
                    <input type="number" id="priority" name="priority" value="1" min="1" max="5">
                </div>
            </div>
            <button type="submit">Add</button>
        </form>
    </div>
    <div class="open_header">
        <h1>Offene Todos</h1>
        <select class="filter">
            <option disabled selected hidden>Keine Sortierung verfügbar</option>
            {% for filter in filters %}
                <option value="{{ filter.value }}"
                        {% if filter.value == activeFilter %}selected{% endif %}>{{ filter.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="opened_todo">
        <ul>
            {% for todo in todos %}
                <li>
                    <form action="/todo/finish/{{ todo.id }}" method="POST" style="display: inline;">
                        <button class="open" type="submit"></button>
                    </form>
                    <div class="content">
                        <h1>{{ todo.value }}</h1>
                        <p>{{ todo.description }}</p>
                        {% if todo.deadline %}
                            <p>(Start: {{ todo.start }} - Deadline: {{ todo.deadline }})</p>
                        {% else %}
                            <p>(Start: {{ todo.start }})</p>
                        {% endif %}
                    </div>
                    <h4>Priorität: {{ todo.priority }}</h4>
                    <form action="update/{{ todo.id }}" method="GET">
                        <button class="update"></button>
                    </form>
                    <form action="/remove/{{ todo.id }}" method="POST" style="display: inline;">
                        <button class="delete" type="submit"></button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>

    <button class="toggle_button"><h1>Geschlossene Todos ▲</h1></button>

    <div class="closed_todo">
        <ul>
            {% for todo in closed_todos %}
                <li>
                    <form action="/todo/reopen/{{ todo.id }}" method="POST" style="display: inline;">
                        <button class="finished" type="submit"/>
                        </button>
                    </form>
                    <div class="content">
                        <h1>{{ todo.value }}</h1>
                        <p>{{ todo.description }}</p>
                        <p>(Start: {{ todo.start }} - Beendet: {{ todo.end }})</p>
                    </div>
                    <h4>Priorität: {{ todo.priority }}</h4>
                    <form action="/remove/{{ todo.id }}" method="POST" style="display: inline;">
                        <button class="delete" type="submit"></button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='todo-script.js') }}"></script>
</body>
</html>