<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/update/{{ todo.id }}" method="POST">
    <div>
        <label for="Titel">Titel</label>
        <input id="title" name="value" value="{{ todo.value }}">
    </div>
    <div>
        <label for="desc">Beschreibung</label>
        <input id="desc" name="description" value="{{ todo.description }}">
    </div>
    <div>
        <label for="deadline">Deadline</label>
        <input id="deadline" name="deadline" type="date" value={{ todo.deadline }}>
    </div>
    <div>
        <label for="priority">Priorität</label>
        <input id="priority" name="priority" type="number" min="1" max="5" value="{{ todo.priority }}">
    </div>
    <div>
        <button type="submit">Speichern</button>
    </div>
</form>
    <form action="/" method="GET">
        <button type="submit">Abbrechen</button>
    </form>
</body>
</html>